<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rainha Vitória Cruzeiros</title>
    <meta name="description" content="Rainha Victoria">
    <meta name="keywords" content="Rainha Victoria">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/csslayout2/styles-merged.css">
    <link rel="stylesheet" href="css/csslayout2/style.min.css">
    <link rel="stylesheet" href="css/csslayout2/custom.css">
    <link rel="stylesheet" href="css/csslayout2/style.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
      <div class="row">
        <a href="/" class="probootstrap-logo visible-xs"><img src="assets/images/rainhavitoriasfundo.png"  width="2040" height="660" alt="Free Bootstrap Template by uicookies.com"></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="/">Home</a></li>
            <!--<li><a href="about.html">Sobre nós</a></li>-->
            <li><a href="/quartos">Quartos</a></li>
            <li><a href="/reservas">Reservas</a></li>
            <li class="hidden-xs probootstrap-logo-center"><a href="/"><img src="assets/images/rainhavitoriasfundo.png"  width="300" height="100" alt="RAINHA VITORIA LOGO"></a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>conecte-se concosco</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    <!-- </div> -->
  </header>
  <!-- END: header -->
  <div style="background-color: white;" class="content-wrapper">
    <!-- /.content -->
    <div style="margin:20px;" class="card card-body">
        <%- body %>
    </div>
    
  </div>

  <!-- Inicio: footer -->

  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <p class="mt40"><img src="assets/images/rainhavitoriasfundo.png"  width="240" height="66" alt="Rainha vitoria"></p>
            <p>Nós do Rainha Victória desejamos uma boa viagem e que faça um bom uso de todas as nossas disponibilidades. Zelamos para que possa relaxar e aproveitar cada momento único.</p>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Temporadas</h3>
            <ul class="probootstrap-blog-list">
              <li>
                <a href="https://www.melhoresdestinos.com.br/o-que-fazer-no-rio-de-janeiro.html" target="_blank">
                  <figure class="probootstrap-image"><img src="assets/images/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Rio Cidade Maravilhosa</h4>
                    <span class="meta">01 de Março, 2023</span>
                    <p>5 dias com 3 paradas pelas maravilhosas praias do Rio.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://www.brasileirosnouruguai.com.br/punta-del-este/pontos-turisticos" target="_blank">
                  <figure class="probootstrap-image"><img src="assets/images/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Punta del Este</h4>
                    <span class="meta">02 Dezembro, 2023</span>
                    <p>15 dias com 4 paradas pela cidade luxuosa e transição pelo Rio da Prata.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://www.guiadasemana.com.br/viagens-internacionais/galeria/praias-paradisiacas-que-voce-precisa-conhecer-na-america-do-sul" target="_blank">
                  <figure class="probootstrap-image"><img src="assets/images/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Volta na América</h4>
                    <span class="meta">05 Janeiro, 2024</span>
                    <p>30 dias de viagens com 10 paradas pelas praias brasileiras e ilhas mexicanas.</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contato</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Av. Salvador de Sá, 118 - Cidade Nova, Rio de Janeiro - RJ, 20211-260</span></li>
              <li><i class="icon-mail"></i><span>suporte@rvictoria.com.br</span></li>
              <li><i class="icon-phone2"></i><span>+55 (21)2502-6591</span></li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="row mt40">
        <div class="col-md-12 text-center">
          <ul class="probootstrap-footer-social">
            <li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://www.google.com/search?q=instagram&oq=ins&aqs=chrome.0.69i59j69i57j35i39j0i67i650l2j0i131i433i512j0i67i650l2j0i131i433i512.166514646j0j15&sourceid=chrome&ie=UTF-8" target="_blank"><i class="icon-instagram2"></i></a></li>
          </ul>
          <p>
            <small>&copy; 2023 <a href="https://uicookies.com/" target="_blank">Rainha victoria</a>. Todos os direitos reservados<br> Capitech &amp; Desenvolvido por: <a href="https://uicookies.com/" target="_blank">Capitech</a> </small>
          </p>
          
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->

  <script src="js/jslayout2/scripts.min.js"></script>
  <script src="js/jslayout2/main.min.js"></script>
  <script src="js/jslayout2/custom.js"></script>
  


  </body>
</html>