@media print {
    .logoEmpresa {
        display: block;
        text-align: end;
    }

    .btnExportarPdf {
        display: none;
    }

    #btnCadastrarCompras {
        display: none;
    }

    #btnCadastrarFornecedores {
        display: none;
    }

    #btnCadastrarProdutos {
        display: none;
    }

    .btnExportarExcel{
        display: none;
    }

    .actions{
        display: none;
    }
}