
<script src="/js/Login/index.js"></script>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row probootstrap-gutter60">
        <div class="col-md-8">
          <h2 class="mt0">Faça seu Login</h2>
          <div id="msgRetorno"></div>
          <form id="formbotao" action="#" method="post" class="probootstrap-form " target="_blank">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" maxlength="30">  
            </div>
            <p id="plogin"></p>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" class="form-control " id="senha" name="senha" maxlength="20">
            </div>
            <p id="psenha"></p>
            <div class="form-group">
              <input type="button" class="btn btn-primary btn-lg" id="btnEntrar" name="submit" value="Enviar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  
