<section class="probootstrap-slider flexslider">
<ul class="slides">
    <li style="background-image: url(assets/images/slider_1.jpg);" class="overlay">
        <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
                <p><img src="assets/svg/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                <h1 class="probootstrap-heading probootstrap-animate">Temporada Rio Cidade Maravilhosa</h1>
                <div class="probootstrap-animate probootstrap-sub-wrap">De 01/03 até 01/05.</div>
            </div>
            </div>
        </div>
        </div>
    </li>
    <li style="background-image: url(assets/images/slider_2.jpg);" class="overlay">
        <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
                <p><img src="assets/svg/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                <h1 class="probootstrap-heading probootstrap-animate">Tenha uma experiência luxuosa</h1>
                <div class="probootstrap-animate probootstrap-sub-wrap"></div>
            </div>
            </div>
        </div>
        </div>
        
    </li>
</ul>
</section>

<section class="probootstrap-cta probootstrap-light">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h2 class="probootstrap-cta-heading">Reserve um quarto para você e sua família <span> &mdash; Viage através de paisagens únicas !</span></h2>
        <div class="probootstrap-cta-button-wrap"><a href="/reservas" class="btn btn-primary">Reserve Agora!</a></div>
    </div>
    </div>
</div>
</section>

<section class="probootstrap-section">
<div class="container">
    <div class="row mb30">
    <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
        <h2>Explore nossos serviços</h2>
        <p class="lead">Utilize de nossos serviços, desfrute-os, nós estamos sempre pensando em você ! </p>
        <p><img src="assets/svg/curve.svg" width="150" height="100"class="svg" alt="Free HTML5 Bootstrap Template"></p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
        <div class="icon">
            <img src="assets/svg/001-building.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </div>
        <div class="text">
            <h3>Serviço de quarto</h3>
            <p>Peça por troca de produtos mesa cama e banho, solicite limpezas, e tambem manutenções.</p>
            <p><a href="/contato" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>  
        </div>
    </div>
    <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
        <div class="icon">
            <img src="assets/svg/003-restaurant.svg"class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </div>
        <div class="text">
            <h3>Comida e bebida</h3>
            <p>Peça sua refeição no quarto ou alguma bebida gelada/quente sem sair do conforto de seu quarto.</p>
            <p><a href="/contato" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>  
        </div>
    </div>
    <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
        <div class="icon">
            <img src="assets/images/fone.png" width="150" height="100" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </div>
        <div class="text">
            <h3>Ajuda e suporte</h3>
            <p>Tire sua duvida ou faça sua reclamção conosco, estamos 24 horas a seu dispor. </p>
            <p><a href="/contato" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>  
        </div>
    </div>
    </div>
</div>
</section>
<section class="probootstrap-section probootstrap-section-dark">
<div class="container">
    <div class="row mb30">
    <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
        <h2>Quartos mais bem avaliados</h2>
        <p class="lead">Estes quartos são os mais bem avaliados e recomendados pelos nossos cliente e por nós.</p>
        <p><img src="assets/svg/curve.svg" width="150" height="100" class="svg" alt="Free HTML5 Bootstrap Template"></p>
    </div>
    </div>
    <div class="row probootstrap-gutter10">
    <div class="col-md-6">
        <div class="probootstrap-block-image-text">
        <figure>
            <a href="assets/images/sbe.jpg" class="image-popup">
            <img src="assets/images/sbe.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
            </a>
            <div class="actions">
            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
            </div>
        </figure>
        <div class="text">
            <h3><a href="/quartos">Suítes Básicas</a></h3>
            <div class="post-meta">
            <ul>
                <li><span class="review-rate">4.9</span> <i class="icon-star"></i> 459 Avaliações</li>
                <li><i class="icon-user2"></i> 13 RECOMENDAÇÕES</li>
            </ul>
            </div>
            <p></p>
            <p><a href="/quartos" class="btn btn-primary">Contratar agora por R$ 1699,99</a></p>
        </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="probootstrap-block-image-text">
        <figure>
            <a href="assets/images/sde.jpg" class="image-popup">
            <img src="assets/images/sde.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
            </a>
            <div class="actions">
            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
            </div>
        </figure>
        <div class="text">
            <h3><a href="/quartos">Suítes Deluxe</a></h3>
            <div class="post-meta">
            <ul>
                <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 282 Avaliações</li>
                <li><i class="icon-user2"></i> 11 Recomendações</li>
            </ul>
            </div>
            <p></p>
            <p><a href="/quartos" class="btn btn-primary">Contratar agora por R$ 2499,00</a></p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="probootstrap-section">
<div class="container">
    <div class="row">
        <div class="col-md-12 probootstrap-relative">
        <h3 class="mt0 mb30">Mais Quartos</h3>
        <ul class="probootstrap-owl-navigation absolute right">
            <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-thin-left"></i></a></li>
            <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-thin-right"></i></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 probootstrap-relative">
        <div class="owl-carousel owl-carousel-carousel">
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/sbe.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Básica externa</h3>
                <p>Por apenas <strong>R$ 1899,99/Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.9</span> <i class="icon-star"></i> 459 Avaliações</li>
                    <li><i class="icon-user2"></i> 13 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/sbi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Básicas internas </h3>
                <p>Por apenas <strong>R$ 1699,00/Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.6</span> <i class="icon-star"></i> 356 Avaliações</li>
                    <li><i class="icon-user2"></i> 7 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/sse.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Standart externas</h3>
                <p>Por apenas <strong>R$ 2199,00/Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 690 Avaliações</li>
                    <li><i class="icon-user2"></i> 23 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/ssi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Standart Internas</h3>
                <p>Por apenas <strong>R$ 1999,00/Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 422 Avaliações</li>
                    <li><i class="icon-user2"></i> 16 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/sde.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Deluxe Externas</h3>
                <p>Por apenas <strong>R$ 2799.00/Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 352 Avaliações</li>
                    <li><i class="icon-user2"></i> 9 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="probootstrap-room">
                <a href="/quartos"><img src="assets/images/sdi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                <div class="text">
                <h3>Suítes Deluxe Internas</h3>
                <p>Por apenas <strong>R$2499.00 /Pack</strong></p>
                <div class="post-meta">
                    <ul>
                    <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 282 Avaliações</li>
                    <li><i class="icon-user2"></i> 11 Recomendações</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

<section class="probootstrap-half">
<div class="image" style="background-image: url(assets/images/slider_2.jpg);"></div>
<div class="text">
    <div class="probootstrap-animate fadeInUp probootstrap-animated">
    <h2 class="mt0">O Melhor Cruzeiro de toda a América Latina</h2>
    <p><img src="assets/svg/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
    <div class="row">
        <div class="col-md-6">
        <p>Eleito o melhor Cruzeiro de toda a América Latina por 3 anos seguidos pela revista "Best Navegation", o Rainha Victória Cruzeiros conta com 5 modelos  de navios que saem do porto do Rio o ano inteiro com pacotes de viagem que vão de 5 à 30 dias de navegação.</p>    
        </div>
        <div class="col-md-6">
        <p>Por 8 anos viajando com qualidade, segurança e conforto. Trazendo experiências incríveis para pessoas e familias de todas as idades.</p>    
        </div>
    </div>
    <p><a href="/blog" class="link-with-icon white">Saber mais <i class=" icon-chevron-right"></i></a></p>
    </div>
</div>
</section>