<h1> Olá, seja bem vindo ao nosso sistema !!!</h1>

<h3>Professor: <%= professor %></h3>

<h3> Integrantes do grupo </h3>

<ul>
    <% for(let i=0; i < integrantes.length; i++) { %>
        <li><%= integrantes[i] %></li>
    <% } %>
</ul>