
<script src="/js/Produto/cadastrar.js"></script>
<div>
    <h1>Cadastrar novo produto</h1>

    <div>
        <div class="form-group">
            <label for="produtoCodigo">Código:</label>
            <input class="form-control" type="text" id="produtoCodigo" />

            <label for="produtoDescricao">Descrição:</label>
            <input class="form-control" type="text" id="produtoDescricao" />

            <label for="produtoQuantidade">Quantidade:</label>
            <input class="form-control" type="number" id="produtoQuantidade" />

            <label for="produtoPreco">Preço Unitário:</label>
            <input class="form-control" type="text" id="produtoPreco" />
        </div>

        <div>
            <button id="btnGravar" class="btn btn-primary">Gravar</button>
            <a class="btn btn-secondary" href="/produtos">Voltar</a>
        </div>
    </div>
</div>