<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
       <li style="background-image: url(assets/images/slider_1.jpg);" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <p><img src="assets/svg/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                  <h1 class="probootstrap-heading probootstrap-animate">Nosso Blog</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap">Conheça um pouco mais do nosso cruzeiro, trajetos e Dicas de Turismos</div>
                </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
</section>
  
<section class="probootstrap-section">
<div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="https://freewalkertours.com/pt-br/roteiro-rio-de-janeiro-5-dias/" target="_blank"><img src="assets/images/img_8.jpg" alt="" class="img-responsive"></a></p>
        <h3 class="mt0"><a href="https://freewalkertours.com/pt-br/roteiro-rio-de-janeiro-5-dias/" target="_blank"  class="hover-reverse">Roteiro Rio de Janeiro - As Melhores Dicas do Rio.</a></h3>
        
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="https://www.argentina.travel/pt" target="_blank"><img src="assets/images/img_9.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
        <h3 class="mt0"><a href="https://www.argentina.travel/pt" target="_blank" class="hover-reverse"> Conheça Melhor o Nosso Cruzeiro.</a></h3>
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="#"><img src="assets/images/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
        <h3 class="mt0"><a href="contact.html" class="hover-reverse">Pacotes exclusivos para toda Família</a></h3>
        
        </div>
    </div>

    <div class="clearfix visible-lg-block visible-md-block"></div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="#"><img src="assets/images/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
        <h3 class="mt0"><a href="https://unsplash.com/pt-br/fotografias/Xto0ensNO5M" target="_blank" class="hover-reverse">Muita Alegria e Diversão.</a></h3>
        
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="https://www.argentina.travel/pt" target="_blank"><img src="assets/images/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
        <h3 class="mt0"><a href="https://www.argentina.travel/pt" target="_blank" class="hover-reverse">Patagônea - Explore a Costa Argentina</a></h3>
        
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="probootstrap-hentry mb30">
        <p><a href="contact.html" target="_blank"><img src="assets/images/img_7.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p> 
        <h3 class="mt0"><a href="contact.html" target="_blank" class="hover-reverse">Férias de Verão é no Rainha Victória Cruzeiros</a></h>
        </div>
    </div>
</div>
</section>

<section class="probootstrap-half">
<div class="image" style="background-image: url(assets/images/img_9.jpg);"></div>
<div class="text">
    <div class="probootstrap-animate fadeInUp probootstrap-animated">
    <h2 class="mt0">O Melhor Cruzeiro da América Latina</h2>
    <p><img src="assets/svg/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
    <div class="row">
        <div class="col-md-6">
        <p>Nosso objetivo é te acompanhar para explorar o mundo de forma mais sustentável, saborosa, relaxante e surpreendente.
            Temos muitas novidades para te contar: saiba o que te espera em seu próximo cruzeiro, tanto a bordo como em terra.</p>    
        </div>
        <div class="col-md-6">
        <p>Uma nova maneira de viajar
            Mais tempo para explorar, uma nova experiência de sabor e férias cada vez mais sustentáveis.</p>    
        </div>
    </div>
    <p><a href="/" class="link-with-icon white">Saiba Mais <i class=" icon-chevron-right"></i></a></p>
    </div>
</div>
</section>