
<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
       <li style="background-image: url(assets/images/slider_1.jpg);" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <p><img src="assets/svg/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                  <h1 class="probootstrap-heading probootstrap-animate">Os Melhores Quartos</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap">Escolha uma das nossas suites para deixar sua experiência ainda melhor.</div>
                </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </section>
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/sbe.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Básica - Externo</h3>
              <p>A partir de <strong>R$ 1899.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.5</span> <i class="icon-star"></i> 252 Comentários</li>
                  <li><i class="icon-user2"></i> Até 3 Pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 1899.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/sse.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Standart - Externo</h3>
              <p>A partir de <strong>R$ 2199.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 261 Comentários</li>
                  <li><i class="icon-user2"></i> Até 5 pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 2199.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/sde.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Deluxe - Externo</h3>
              <p>A partir de <strong>R$ 2799.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.9</span> <i class="icon-star"></i> 244 Comentários</li>
                  <li><i class="icon-user2"></i> Até 8 pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 2799.00</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/sbi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Básica - Interno</h3>
              <p>A partir de <strong>R$ 1699.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.3</span> <i class="icon-star"></i> 188 Comentários</li>
                  <li><i class="icon-user2"></i> Até 3 pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 1699.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/ssi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Standart - Interno</h3>
              <p>A partir de <strong>R$ 1999.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 191 Comentários</li>
                  <li><i class="icon-user2"></i> Até 5 pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 1999.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="assets/images/sdi.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suíte Deluxe - Interno</h3>
              <p>A partir de <strong>R$ 2499.00/Pack</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 250 Comentários</li>
                  <li><i class="icon-user2"></i> Até 8 pessoas</li>
                </ul>
              </div>
              <p><a href="/reservas" class="btn btn-primary" role="button">Reserve agora por R$ 2499.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Por que nos escolher?</h2>
          <p class="mb50"><img src="assets/svg/curve.svg" width="150" height="100" class="svg" alt="Free HTML5 Bootstrap Template"></p>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>
            <div class="text">
              <h3>Centenas de viagens</h3>
              <p>O Rainha Victória é conhecido por suas centenas de viagens já feitas com sua qualidade, segurança e conforto.</p>
              <p><a href="/blog" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>
            <div class="text">
              <h3>Cozinha &amp; Bar</h3>
              <p>Os melhores Chefs e Barmans do Brasil juntos para fazer sua viagem ainda mais única e maravilhosa!</p>
              <p><a href="/blog" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>
            <div class="text">
              <h3>Segurança e conforto</h3>
              <p>Cada viagem conta com mais de 10 profissionais da segurança e saúde prontos para atender qualquer tipo de situação.</p>
              <p><a href="/blog" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
          <h2>Explore nossos serviços</h2>
          <p class="lead">Conte com nossos serviços de quarto 24hrs. </br>Estaremos a disposição para qualquer dúvida e suporte.</p>
          <p><img src="assets/svg/curve.svg" width="150" height="100" class="svg" alt="Free HTML5 Bootstrap Template"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img src="assets/svg/001-building.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Serviço de Quarto</h3>
              <p>Peça por novas toalhas ou jogos de cama. Relate algum técnico ou alguma manutenção que precisa ser feita.</p>
              <p><a href="/contato" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img src="assets/svg/003-restaurant.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Comida &amp; Bebida</h3>
              <p>Peça sua refeição no quarto ou alguma bebida gelada/quente para continuar em seu conforto e te entregamos.</p>
              <p><a href="/contato" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img src="assets/images/fone.png" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Ajuda &amp; Suporte</h3>
              <p>Nossa equipe 24hrs está pronta para sanar todas as suas dúvidas online e prontos para dar o suporte.</p>
              <p><a href="/contato" class="link-with-icon">Saiba mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-half">
    <div class="image" style="background-image: url(assets/images/slider_2.jpg);"></div>
    <div class="text">
      <div class="probootstrap-animate fadeInUp probootstrap-animated">
        <h2 class="mt0">O Melhor Cruzeiro de toda a América Latina</h2>
        <p><img src="assets/svg/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
        <div class="row">
          <div class="col-md-6">
            <p>Eleito o melhor Cruzeiro de toda a América Latina por 3 anos seguidos pela revista "Best Navegation", o Rainha Victória Cruzeiros conta com 5 modelos  de navios que saem do porto do Rio o ano inteiro com pacotes de viagem que vão de 5 à 30 dias de navegação.</p>    
          </div>
          <div class="col-md-6">
            <p>Por 8 anos viajando com qualidade, segurança e conforto. Trazendo experiências incríveis para pessoas e familias de todas as idades. </p>    
          </div>
        </div>
        <p><a href="/blog" class="link-with-icon white">Saiba mais <i class=" icon-chevron-right"></i></a></p>
      </div>
    </div>
  </section>